{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"semi": true,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "es5",
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
	"importOrderTypeScriptVersion": "5.0.0",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"^(next-auth/(.*)$)|^(next-auth$)",
		"",
		"<TYPES>",
		"<TYPES>^[.]",
		"",
		"<THIRD_PARTY_MODULES>",
		"",
		"^@/domain",
		"",
		"^@/shared/components",
		"",
		"^@/shared/hooks",
		"",
		"^@/shared/interfaces",
		"",
		"^@/shared/jsonSchema",
		"",
		"^@/shared/services",
		"",
		"^@/shared/types",
		"",
		"^@/shared/utils",
		"",
		"^@/shared/libs",
		"",
		"^@/shared/constants",
		"",
		"^@/modules",
		"",
		"^@/components",
		"",
		"^@/layout",
		"",
		"^@/hooks",
		"",
		"^@/services",
		"",
		"^@/drivers",
		"^drivers",
		"",
		"^@/utils",
		"",
		"^@/public",
		"",
		"^[./]"
	]
}
