#dropdown-sort {
    position: relative;
    display: inline-block;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background-color: $gray;
    border-radius: 1rem;
    font-size: 12px;

    #dropdown-sort-label {
        display: flex;
        align-items: center;
        gap: 4px;
    }
  
    #dropdown-sort-option-wrapper {
        display: none;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px #0a0a0a20;
        border-radius: 0.5rem;

        .dropdown-sort-option {
            padding: 0.5rem 1rem 0.5rem 1rem;
            display: block;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.3rem;
        }

        .dropdown-sort-option:hover {
            background-color: $gray;
            cursor: pointer;
            font-weight: 700;
        }
    }
}

#dropdown-sort:hover #dropdown-sort-option-wrapper {
    display: block;
    position: absolute;
    top: 1.6rem;
    right: 0;
    width: 5rem;
    background-color: $white;
}