
// Color
$white: #ffffff !default;

$gray: #e2e2e2 !default;
$gray-2: #c3c3c3 !default;
$gray-3: #a2a2a2 !default;

$brown: #8d7d71 !default;

$product-image-wrapper-height: 210px !default;

// Media Query
$small: 600px;

$medium: 768px;

$large: 992px;

$extra-large: 1200px;